<div class="alert alert-primary my-3 pt-2 pb-1" role="alert">
  <h5><%- endpoint.method.toUpperCase() %> <%- endpoint.endpoint %></h5>
</div>
<% if(endpoint.requiresAuthentication) { %><h6><em>Authentication Required</em></h6><% } %>
<% if(endpoint.description) { %><%- endpoint.description %><% } %>
<% if(endpoint.fields) { %> 
  <% if(endpoint.fields.type == "json") { %>
  <p><strong>Payload</strong></p>
  <pre>
  <%- helpers.renderObject(endpoint.fields.payload, '  ') %></pre>
  <% } else if(endpoint.fields.type == "query") { %>
  <p><strong>Query Parameters</strong></p>
  <pre>
  <%- helpers.renderObject(endpoint.fields.fields, '  ') %></pre>
  <% } %>
<% } %>
<% if(endpoint.return) { %> 
<p><strong>Returns (<%- endpoint.return.type %>)</strong></p>
<% if(endpoint.return.type == "json") { %>
<pre>
  <%- helpers.renderObject(endpoint.return.payload, '  ') %></pre>
<% } %>
<% } else { %>
  <p><strong>Returns (json)</strong></p>
  <p>Standard Return Value</p>
<% } %>
<br />