<div class="alert alert-primary my-3 pt-2 pb-1" role="alert">
  <h5><%- endpoint.method.toUpperCase() %> <%- endpoint.endpoint %></h5>
</div>
<% if(endpoint.description) { %><%- endpoint.description %><% } %>
<p><strong>Payload</strong></p>
  <pre>
  {
    <% for(let fieldIndex in endpoint.fields) {
        let field = endpoint.fields[fieldIndex];
      %><%- field.key %>: &lt;<%- field.type %>&gt;<%- fieldIndex < endpoint.fields.length - 1 ? ',' : '' %> // <%- field.required ? "required" : "optional" %>
    <% } %>
  }</pre>
