<!DOCTYPE html>
<html>
  <head>
    <title>Erstwhile Framework - <%= desc.application?.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/describe?format=html"><img src="/images/erstwhile-logo.png" alt="Erstwhile Framework"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#home"><%- desc.application?.name %></a>
            </li>
            <% if(desc.authentication) { %>
              <li class="nav-item">
                <a class="nav-link" href="#authentication">Authentication</a>
              </li>
            <% } %>
            <% if(desc.enums) { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Enums
                </a>
                <ul class="dropdown-menu">
                  <% for(let key in desc.enums) { %>
                    <li><a class="dropdown-item" href="#enum-<%- key %>"><%- desc.enums[key].name %></a></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if(desc.entities) { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Entities
                </a>
                <ul class="dropdown-menu">
                  <% for(let key in desc.entities) { %>
                    <li><a class="dropdown-item" href="#entity-<%- key %>"><%- desc.entities[key].name %></a></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-5">
      <div class="row">
        <div class="col-12">
          <a name="home" class="jump"></a>
          <h1><%= desc.application?.name %></h1>
          <%- desc.application?.description %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a name="conventions" class="jump"></a>
          <h2>General Conventions</h2>
          <p>Erstwhile Framework tends to be opinionated, and as such relies on a number of conventions to help move things along.</p>
          <h3>Standard Return Values</h3>
          <p>When not otherwise specified in the documentation, endpoints will return the following structure. This is also the case if an error occurs.</p>
          <pre>
  {
    "success": &lt;boolean&gt;, // indicates whether or not the operation was successful
    "authenticated": &lt;boolean&gt;, // indicates whether or not user has a valid session
    "message": &lt;string&gt;, // optional. Indicates a message to display to the user, either positive or negative.
    "errors": [&lt;string&gt;], // optional. In the case of errors, they may be presented as an array of strings.
    "errorsObj": &lt;object&gt; // optional. When the errors can be mapped to form properties, this object is sent.
  }</pre>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <% if(desc.authentication) { %>
        <div class="row">
          <div class="col-12">
            <a name="authentication" class="jump"></a>
            <h2>Authentication</h2>
            <% if(desc.application.sessionKey) { %>
              <p>This application requires authentication to access some of its functionality.</p>
              <% if(desc.application.sessionKey.type == "custom-header") { %>
              <p>To access endpoints requiring authentication, you should include a custom header with each request: </p>
              <div class="alert alert-secondary pb-1" role="alert">
                <pre><%- desc.application.sessionKey.header %>: &lt;session-key&gt;</pre>
              </div>
              <% } %>
            <% } %>
            <% if(desc.authentication.login && desc.authentication.login.length > 0) { %>
              <h3>Login Endpoint<%- desc.authentication.login.length > 1 ? 's' : '' %></h3>
              <% for(let i = 0; i < desc.authentication.login.length; i++) {
                let endpoint = desc.authentication.login[i];
                %>
                <%- include('partials/endpoint', {endpoint}) %>
              <% } %>
            <% } %>
            <% if(desc.authentication.signup && desc.authentication.signup.length > 0) { %>
              <h3>Signup Endpoint<%- desc.authentication.signup.length > 1 ? 's' : '' %></h3>
              <% for(let i = 0; i < desc.authentication.signup.length; i++) {
                let endpoint = desc.authentication.signup[i];
                %>
                <%- include('partials/endpoint', {endpoint}) %>
              <% } %>
            <% } %>
            <% if(desc.authentication.forgotPassword) { %>
              <h3>Forgot Password Endpoint</h3>
              <% let endpoint = desc.authentication.forgotPassword;
                %>
                <%- include('partials/endpoint', {endpoint}) %>
              
            <% } %>
            <% if(desc.authentication.currentUser) { %>
              <h3>Current User Endpoint</h3>
              <% let endpoint = desc.authentication.currentUser;
                %>
                <%- include('partials/endpoint', {endpoint}) %>
              
            <% } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <hr />
          </div>
        </div>
      <% } %>
      <% if(desc.enums) { %>
        <div class="row">
          <div class="col-12">
            <a name="enums" class="jump"></a>
            <h2>Enums</h2>
            <p>Enums are named sets of options. They are often used to standardize dropdown menus.</p>
            <% for(let enumName in desc.enums) { %>
              <a name="enum-<%- enumName %>" class="jump"></a>
              <h3><%- desc.enums[enumName].name %> (<%- enumName %>)</h3>
              <% if(desc.enums[enumName].description) { %><%- desc.enums[enumName].description %><% } %>
              <pre>
  <%- helpers.renderEnum(desc.enums[enumName], enumName, '  ') %></pre>
            <% } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <hr />
          </div>
        </div>
      <% } %>
      <% if(desc.entities) { %>
        <div class="row">
          <div class="col-12">
            <a name="enums" class="jump"></a>
            <h2>Entities</h2>
            <p>Entities are used to create models on the client side. They have a schema that defines their data format, as well as methods that act upon that data.</p>
            <% for(let entityName in desc.entities) { %>
              <a name="entity-<%- entityName %>" class="jump"></a>
              <h3><%- desc.entities[entityName].name %> (<%- entityName %>)</h3>
              <% if(desc.entities[entityName].description) { %><%- desc.entities[entityName].description %><% } %>
              <h4>Schema</h4>
              <% let temp = { type: "object", fields: desc.entities[entityName].fields }; %>
              <pre>
  <%- helpers.renderObject(temp, '  ') %></pre>
              <% if(desc.entities[entityName].methods) { %> 
                <h4>Methods</h4>
                <% for(let i = 0; i < desc.entities[entityName].methods.length; i++) { 
                  let endpoint = desc.entities[entityName].methods[i];
                  %>
                  <%- include('partials/endpoint', {endpoint}) %>
                <% } %>  
              <% } %>
              
            <% } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <hr />
          </div>
        </div>
      <% } %>
    </div>
    <div style="text-align: center; padding-bottom: 75px;">&copy; <%- new Date().getFullYear() %> <a href="https://restlessdev.com" target="_blank">RestlessDev</a>. Built in New Orleans.</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>